/* GLOBAL STYLES */

body {
  background-color: #003;
  color: #494e50;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
}
.content-container {
  flex: 1 1 auto;
  width: 100%;
}
p {
  line-height: 1.7;
  margin-top: 0.75em 0;
}
a {
  color: #3f9;
}
a:hover,
a:active {
  opacity: 0.7;
}
.underline {
  background-image: linear-gradient(120deg, #77a1d3, #79cbca, #e684ae 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.05em;
  background-position: 0 90%;
  transition: background-size 0.25s ease-in;
}
.underline:hover,
.underline:active {
  background-size: 100% 88% !important;
}

/* HEADER STYLES */

.header {
  align-items: center;
  color: #2fa;
  display: flex;
  justify-content: space-between;
  padding: 1.875rem 3.125rem;
  width: auto;
  z-index: 10;
  font-weight: 600;
}
.header a {
  text-decoration: none;
}
.header a:hover,
.header a:active {
  opacity: 0.7;
}
nav {
  display: flex;
}
.header-logo img {
  height: 5vh;
}
.header-nav-links > ul > li {
  display: inline-block;
  margin-right: 5em;
}
.header-social-links > ul > li {
  display: inline-block;
  margin-right: 1em;
}

/* DROPDOWN STYLES */
.dropdown {
  position: relative;
}
.dropdown:hover .drop-menu {
  display: block;
}
.dropdown:hover .drop-trigger:after {
  border-color: #2fa transparent transparent;
}
.drop-trigger {
  display: inline-block;
  position: relative;
}
.drop-menu {
  box-shadow: 0 0 10px 0 rgba(0, 255, 255, 0.25);
  display: none;
  left: 0;
  list-style: none;
  position: absolute;
  font-weight: 400;
  top: 2em;
  z-index: 40;
}
.drop-menu:before {
  border: 0.6em solid;
  border-color: transparent transparent rgba(0, 0, 112, 0.75);
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  left: 1.3em;
  top: -1.1em;
}
.drop-menu li {
  background: linear-gradient(95deg, #000060, #8105a0);
  font-size: 0.875rem;
  line-height: 1.5;
}
.drop-menu li:first-child {
  border-radius: 0.3em 0.3em 0 0;
  color: #93f;
  font-size: 0.6em;
  padding: 1em 1em 0.25em;
  text-transform: uppercase;
}
.drop-menu li:last-child {
  border-radius: 0 0 0.3em 0.3em;
  padding-bottom: 1em;
}
.drop-menu a {
  color: #3f9;
  display: block;
  font-weight: normal;
  padding: 0.5em 3em 0.5em 1.5em;
  text-align: left;
  white-space: nowrap;
}
.drop-menu li > a:hover {
  background: rgba(153, 51, 255, 0.25);
}
/* STICKY BANNER */
.banner {
  z-index: 20;
}
.banner a {
  background: linear-gradient(45deg, #347b98, #20b261);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: "Varela Round", sans-serif;
  padding: 2vh;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 100vw;
}
.banner a:hover {
  background: linear-gradient(45deg, #228b22, #0f0);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* HERO STYLES */
.hero-content {
  background-color: #003;
  height: 100%;
  position: relative;
  text-align: center;
}
.hero-temp,
.hero-temp a {
  background-color: #003;
  position: relative;
  text-align: center;
  color: #3f9;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5em;
  text-decoration: none;
}
.hero-title h1 {
  color: rgba(241, 241, 241, 0.8);
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1.1;
  padding: 0 20vw;
}
.hero-subtitle {
  display: flex;
}
.hero-subtitle p {
  line-height: 1;
  margin-bottom: 1em;
}
.hero-subtitle .svg {
  flex-basis: 30%;
}
.hero-subtitle .customer {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.hero-subtitle .subtitle {
  font-size: 1.5rem;
  line-height: 1.25;
  width: 40vw;
}
.hero-subtitle .objection {
  color: #f0f;
  font-style: oblique;
  margin-top: 5vh;
}
.hero-subtitle .hook {
  color: #f1f1f1;
}
.hero-subtitle .how {
  font-size: 1rem;
  font-weight: 400;
  color: #93f;
  list-style: none;
  margin-bottom: 5vh;
  display: inline-block;
}
.hero-subtitle .how > span {
  margin-right: 0.625rem;
}
.hero-subtitle .how > span > em {
  margin-right: 0.1875rem;
}
.btn-order {
  background-color: #3f9;
  border-radius: 1.25rem;
  color: #003;
  cursor: pointer;
  font-size: 1.5rem;
  height: auto;
  left: 0;
  margin: 1em;
  padding: 0.75em 3rem;
  text-transform: capitalize;
}
.btn-order:hover,
.btn-order:active {
  background-color: transparent;
  border-color: #3f9;
  color: #3f9;
}
.hero-subtitle:after {
  border: 0.625rem solid;
  border-color: #93f transparent transparent;
  bottom: 0;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}

/* HOME ABOUT STYLES */
.home-about {
  background-image: linear-gradient(
    140deg,
    rgba(24, 117, 222, 0.6) 10%,
    rgba(188, 1, 215, 0.6) 100%
  );
  height: 100%;
  position: relative;
}
.home-about a {
  text-decoration: none;
}
.about-title {
  color: rgba(241, 241, 241, 0.8);
  font-size: 3rem;
  font-weight: 800;
  padding-top: 3em;
  text-align: center;
}
.about-subtitle {
  color: #f1f1f1;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5em;
  padding: 1em 17vw;
  text-align: center;
}
.about-comparison {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 5vh 0 10vh;
  color: #c2c1c1;
}
.cost-breakdown {
  backdrop-filter: blur(2.5px);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(2.5px);
  box-sizing: border-box;
  flex-basis: 39%;
  margin: 0 3vw;
  padding: 2rem;
}
.cost-breakdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cost-breakdown-header > .superscript {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 100;
  opacity: 0.7;
  letter-spacing: 0.2em;
}
.cost-breakdown-header > .emoji {
  font-size: 3rem;
}
.cost-breakdown-title {
  color: #f1f1f1;
  font-size: 2.1875rem;
  margin-top: -0.5rem;
}
.cost-breakdown > p {
  line-height: 1.4;
  font-size: 1.5rem;
  margin-top: 1em;
  color: #ccc;
}
.cost-breakdown table {
  margin-top: 0.7rem;
  width: 95%;
  margin-bottom: 2em;
  /* border: solid 1px red; */
}
.cost-breakdown td {
  padding: 0.5rem 1.7rem 0.5rem 3rem;
}
.cost-breakdown .first-cell {
  padding-top: 1.7rem;
}
.cost-breakdown .last-cell {
  padding-bottom: 1.6rem;
}
.cost-breakdown td:first-child {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.1);
}
.cost-breakdown td:last-child {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.25);
}
.cost-breakdown details,
.cost-breakdown summary {
  border: transparent;
}
.cost-breakdown details > p {
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 100;
  text-align: right;
}
.sum {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.youpay {
  color: #f0f;
}
.earnings-boo {
  color: #f00;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.earnings-yay {
  color: gold;
}
.small {
  font-size: 0.9rem;
  font-weight: 100;
  opacity: 0.7;
  text-transform: uppercase;
  background: yellow;
  margin-top: 2vh;
}

/* HOME CARDS STYLES */
.home-cards {
  margin: 5vh auto;
  width: 90vw;
  height: 68vh;
}
.home-cards-col {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.home-cards h3 {
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: rgba(0, 0, 51, 0.5);
  font-size: 2vw;
  font-weight: lighter;
  text-shadow: 2 3 50px #003;
  text-transform: uppercase;
  color: #3f9;
}
.home-cards p {
  text-align: center;
  color: #888;
}
.home-cards a:hover,
.home-cards a:active {
  opacity: 0.5;
}

/* HOME MERCHANT-CUSTOMER STYLES */
.home-split {
  align-items: center;
  padding: 7vh;
}
.home-split h1 {
  font-size: 5vw;
}
.home-customer {
  width: 45%;
  border: solid 1px pink;
  color: #ccc;
}
.home-merchant {
  width: 45%;
  border: solid 1px cyan;
  color: #ddd;
  padding: 2vw;
}
.home-merchant > ul > li {
  list-style: none;
  margin: 2vh 0 0 2vw;
}

/* HOME FOOTER STYLES */
.home-footer {
  background-color: #001;
  display: flex;
  justify-content: space-between;
  padding: 5vh 10vw;
}
.home-footer ul {
  color: #ccc;
  font-size: 1rem;
  font-weight: 700;
}
.home-footer li:first-child {
  margin-top: 0.5em;
}
.home-footer li {
  font-size: 0.8em;
  font-weight: 100;
  list-style: none;
  margin-top: 0.4em;
}
.home-footer li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.home-footer li a:hover,
.home-footer li a:active {
  color: #ccc;
}
.copyright {
  background-color: #223;
  color: #ccc;
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
  padding: 3vh 10vw;
}
.copyright li {
  display: inline-block;
  list-style: none;
  margin-left: 0.7em;
}
.copyright a {
  color: #ccc;
  text-decoration: none;
}

/* COLUMN STYLES */
.gallery {
  display: flex;
}
.col {
  box-sizing: border-box;
  padding: 1vw;
}
.col-nav {
  box-sizing: border-box;
  height: 89vh;
  left: 0;
  position: fixed;
  width: 20vw;
}
.col-sidebar {
  box-sizing: border-box;
  margin: 5vh auto 1vh;
}
.col-content {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  margin-left: 20vw;
  padding: 0;
}
.col-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
}
.col-links {
  align-self: flex-start;
  box-sizing: border-box;
  flex: 0 1 20vw;
  margin: 0;
  padding: 0;
}

/* CARD STYLES */
.card {
  box-sizing: border-box;
  flex-basis: 30%;
  border-radius: 0.5em;
  margin: 1em;
  height: 30vh;
}
.card a {
  text-decoration: none;
}
.card-hero {
  /* box-shadow: inset 0 0 0 100vmax rgba(153, 51, 255, 0.25); */
  background-position: center center;
  background-size: cover;
  border-radius: 0.5em;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 1em;
}
.card-hero:hover,
.card-hero:active {
  box-shadow: 0 0 10px #f00;
}
.card-title {
  color: #fff;
  display: block;
  text-align: left;
  margin: 1rem 0.5rem 0.5rem;
  text-shadow: 1px 1px 2px #003;
}
.card-title h1 {
  font-size: 1.5em;
  font-weight: 600;
}
.card-title h2 {
  font-size: 1vw;
  font-weight: lighter;
  margin-top: 1em;
  color: #fff;
}
.card-read-time {
  color: #fff;
  float: right;
  font-size: 0.7em;
  font-weight: lighter;
  padding-right: 0.7em;
  text-transform: uppercase;
}
.card-filter-icon {
  box-sizing: border-box;
  color: #f1f1f1;
  display: inline-block;
  height: 1.5em;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  width: 2em;
}

/* FILTER STYLES */
.filter-list {
  list-style: none;
  padding: 0;
  /* width: 20vw; */
}
.filter-box {
  box-sizing: border-box;
  float: left;
  height: 15vh;
  width: 50%;
}
.filter-box:hover,
.filter-box:active {
  background: rgba(153, 51, 255, 0.25);
}
.filter-icon {
  font-size: 1.5em;
  text-align: center;
  margin: 1em auto 0.5em;
  color: #3f9;
}
.filter-name {
  box-sizing: border-box;
  height: 10vh;
  text-align: center;
  margin-bottom: 1em;
  font-size: 0.7rem;
  color: rgba(51, 255, 153, 0.75);
}

/* POST STYLES */
.page {
  margin: 2vh auto 1vh;
  /* max-width: 980px; */
  max-width: 80vw;
}
.page-hero {
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-between;
  width: 100%;
}
.page-title {
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}
.page-title h1 {
  font-size: 4vw;
  font-weight: bold;
  text-transform: uppercase;
}
.page-title h2 {
  font-size: 2vw;
  font-weight: lighter;
}
.page-hero-bottom {
  margin: 0 1em 1em;
}
.post-read-time {
  color: #fafafa;
  float: right;
  font-size: 0.7em;
  font-weight: lighter;
  padding: 3em 2em 0;
  text-transform: uppercase;
}
.post-filter-icon {
  background: #003;
  border: 1px solid #00ffff;
  border-radius: 2em;
  box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #3f9;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  height: 3em;
  line-height: 1;
  margin-right: 0.5em;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  width: 2em;
}
.post-filter-icon:hover,
.post-filter-icon:active {
  background: rgba(0, 0, 0, 0.5);
  color: #ddd;
}
.post {
  background-color: #0f001e;
  border: 2px solid #fbfbfb;
  margin-top: 1vh;
  border: 1px solid rgba(0, 255, 255, 0.3);
}
.post-header {
  margin-top: 1.5em;
  text-align: center;
}
.post-header img {
  border-radius: 50%;
  display: inline-block;
  height: 2.5em;
  vertical-align: middle;
  border: 2px solid rgba(127, 0, 255, 0.25);
}
.post-byline {
  font-size: 0.9rem;
  color: rgba(0, 255, 255, 0.5);
  margin-bottom: 1em;
}
.post-author a {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 0.3),
    rgba(148, 187, 233, 0.3)
  );
  padding: 0.5em 0 0.5em 1em;
  text-decoration: none;
  border-radius: 3em;
}
.post-author a:hover,
.post-author a:active {
  background-color: rgba(255, 0, 255, 0.2);
  color: #fff;
}
.post-update {
  padding: 0.4em;
  font-size: 0.7em;
  text-transform: uppercase;
}
.post-aside {
  background: linear-gradient(#36b592, #3b3b4d);
  border-radius: 0.5em;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #fff;
  float: right;
  font-family: "Varela Round", sans-serif;
  height: 15vw;
  margin: 15vh -2em 2em 2em;
  padding: 1em 2em;
  text-align: center;
  width: 20vw;
}
.post-aside img {
  width: 7.5vw;
  margin: 1vw 1vw 0.5vw;
}
.post-aside:hover,
.post-aside:active {
  background: linear-gradient(#070, #030);
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.post p {
  margin-top: 1em;
}
.post h3 {
  font-size: 4rem;
  font-weight: 600;
  margin-top: 1em;
  color: #93f;
}
.post h4 {
  color: #3f9;
  font-size: 2rem;
  font-weight: 200;
}
.post h5 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0.5rem;
  color: #93f;
}
.post-content {
  color: #ccc;
  font-size: 1.2em;
  padding: 1em 10vw 0;
}
.post-content img {
  border: 0.5rem solid #39007f;
  box-sizing: border-box;
  height: auto;
  margin-left: -2%;
  width: 104%;
}
.post-content hr {
  width: 77%;
}
.pull-left {
  float: left;
  margin: 2em 2em 2em -2%;
}
.pull-right {
  float: right;
  margin: 2em -2% 2em 2em;
}
.post-content a:visited,
.post-footer a:visited {
  color: #708090;
}
.post-footer {
  border-top: 1px solid rgba(127, 0, 255, 1);
  font-size: 1em;
  margin: 3em 5em 10vh;
  padding-top: 2em;
  line-height: 1.3;
  color: #777;
}
.post-content a:hover,
.post-content a:active,
.post-footer a:hover,
.post-footer a:active {
  background: rgba(51, 255, 153, 0.6);
  color: #003;
  text-decoration: none;
}
.post-content blockquote {
  margin-left: 1em;
  background: rgba(127, 0, 255, 0.2);
  width: 70%;
  box-shadow: 0 0 50px rgba(0, 255, 255, 0.25);
}
.post-content blockquote p {
  padding: 1em 1.5em 1em 3em;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.1rem;
}
.post-content blockquote::before {
  content: ' " ';
  font-size: 5em;
  font-style: italic;
  position: absolute;
  color: rgba(127, 0, 255, 0.5);
}

/* SIDEBAR STYLES */
.sidebar-content {
  font-size: 0.7rem;
  padding: 0 0.5em 7em 2em;
  line-height: 1.7;
  color: #999;
}
.sidebar-content i {
  color: #7f00ff;
}
.sidebar-content li {
  padding-left: 1em;
  list-style: none;
}
.sidebar-content a {
  text-decoration: none;
  color: inherit;
}
.sidebar-content a:hover,
.sidebar-content a:active {
  color: #3f9;
  background: rgba(51, 255, 153, 0.5);
  text-decoration: none;
}
.sidebar-form {
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important;
  margin: -4em 0 0 !important;
  box-sizing: border-box !important;
  width: 13.5vw !important;
}

/* FOOTER STYLES */
.footer-form {
  margin-top: 1em;
  /* margin: 1em 2em -2.5vh -3em !important; */
  padding: 0 !important;
  background: rgba(127, 0, 255, 0.2);
  box-shadow: 0 0 50px rgba(0, 255, 255, 0.25);
  border-radius: 0.3em;
}

/* NEON SIGN STYLES */
:root {
  --text-color: #f00;
  --border-color: #3da7f8;
  --animation-time: 1s;
  --text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px var(--text-color),
    0 0 10px var(--text-color), 0 0 10px var(--text-color),
    0 0 10px var(--text-color), 0 0 10px var(--text-color),
    0 0 20px var(--text-color), 0 0 30px var(--text-color),
    0 0 40px var(--text-color), 0 0 55px var(--text-color),
    0 0 75px var(--text-color);
  --box-shadow: inset 0 0 50px var(--border-color), 0 0 10px var(--border-color),
    0 0 20px var(--border-color), 0 0 30px var(--border-color);
}
.neon-sign {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.33);
  border-radius: 1.25rem;
  padding: 1px 2px;
  margin: 0 40vw;
  transform: rotate(-6deg);
  animation: turnOnBorder 0.24s forwards step-end,
    flickerBorder calc(var(--animation-time) * 16) infinite step-end 1s;
}
.neon-sign-vendors {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.33);
  border-radius: 20px;
  padding: 1px 2px;
  margin: 5vh 30vw;
  transform: rotate(-5deg);
  animation: turnOnBorder 0.24s forwards step-end,
    flickerBorder calc(var(--animation-time) * 16) infinite step-end 1s;
}
.neon-sign a {
  text-decoration: none;
}
.neon-sign p {
  margin: 0px;
  color: #fff;
  text-decoration: none;
}
.neon-sign span {
  font-size: 4rem;
  font-weight: 100;
}
.neon-sign-vendors span {
  font-size: 2.5rem;
}
.neon-sign p span {
  opacity: 0.33;
  animation: turnOn forwards step-end;
}
.neon-sign p span:nth-child(1) {
  animation-delay: 0.3s;
}
.neon-sign p span:nth-child(2) {
  animation-delay: 0.2s;
}
.neon-sign p span:nth-child(3) {
  animation-delay: 0.4s;
}
.neon-sign p span:nth-child(4) {
  animation: turnOn 0.27s forwards step-end,
    flicker var(--animation-time) infinite step-end 1s;
}
@keyframes turnOnBorder {
  100% {
    border: 3px solid #fff;
    box-shadow: var(--box-shadow);
    opacity: 1;
  }
}
@keyframes turnOn {
  100% {
    text-shadow: var(--text-shadow);
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    text-shadow: var(--text-shadow);
  }
  99% {
    text-shadow: none;
  }
}
@keyframes flickerBorder {
  0% {
    box-shadow: var(--box-shadow);
  }
  99% {
    box-shadow: none;
  }
}

/* MAGIC PATTERN STYLES */
.about-bg {
  display: flex;
  justify-content: space-between;

  background-color: #0c056d;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width='1200' height='400' viewBox='0 0 1200 400' xmlns='http://www.w3.org/2000/svg' xmlns:xlink= 'http://www.w3.org/1999/xlink' %3E %3Crect width='1200' height='400' fill='%230c056d' /%3E %3Cg transformOrigin='center' transform='translate(0.00,0.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M0 100H100L0 0V100Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M75 25H25V75H75V25Z' fill='%23590d82'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(100.00,0.00) scale(2.00,2.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M51 25L100 0V50L51 25Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M51 75L100 50V100L51 75Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M2 25L51 0V50L2 25Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M2 75L51 50V100L2 75Z' fill='%23590d82'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(200.00,0.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(300.00,0.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M51 25L100 0V50L51 25Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M51 75L100 50V100L51 75Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M2 25L51 0V50L2 25Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M2 75L51 50V100L2 75Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(400.00,0.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(500.00,0.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M50 0H0V50H50V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M50 0H100V50H50V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M100 50H50V100H100V50Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M0 50H50V100H0V50Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(600.00,0.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(700.00,0.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M50 0H0V50H50V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M50 0H100V50H50V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M100 50H50V100H100V50Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M0 50H50V100H0V50Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(800.00,0.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M100 0H0V100H100V0ZM50 75C63.8071 75 75 63.8071 75 50C75 36.1929 63.8071 25 50 25C36.1929 25 25 36.1929 25 50C25 63.8071 36.1929 75 50 75Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M50 65.001C58.2843 65.001 65 58.2852 65 50.001C65 41.7167 58.2843 35.001 50 35.001C41.7157 35.001 35 41.7167 35 50.001C35 58.2852 41.7157 65.001 50 65.001Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(900.00,0.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M0 100H100L0 0V100Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M75 25H25V75H75V25Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(1000.00,0.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M0 100H100L0 0V100Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M75 25H25V75H75V25Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(1100.00,0.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M100 0H0V100H100V0ZM50 75C63.8071 75 75 63.8071 75 50C75 36.1929 63.8071 25 50 25C36.1929 25 25 36.1929 25 50C25 63.8071 36.1929 75 50 75Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M50 65.001C58.2843 65.001 65 58.2852 65 50.001C65 41.7167 58.2843 35.001 50 35.001C41.7157 35.001 35 41.7167 35 50.001C35 58.2852 41.7157 65.001 50 65.001Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(0.00,100.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M0 100H100L0 0V100Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(100.00,100.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(200.00,100.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(300.00,100.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M0 100H100L0 0V100Z' fill='%23590d82'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(400.00,100.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M51 25L100 0V50L51 25Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M51 75L100 50V100L51 75Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M2 25L51 0V50L2 25Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M2 75L51 50V100L2 75Z' fill='%23590d82'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(500.00,100.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(600.00,100.00) scale(2.00,2.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M50 0H0V50H50V0Z' fill='%23590d82'%3E%3C/path%3E %3Cpath opacity='0.2' d='M50 0H100V50H50V0Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M100 50H50V100H100V50Z' fill='%23590d82'%3E%3C/path%3E %3Cpath opacity='0.2' d='M0 50H50V100H0V50Z' fill='%23590d82'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(700.00,100.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(800.00,100.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M50 0H0V50H50V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M50 0H100V50H50V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M100 50H50V100H100V50Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M0 50H50V100H0V50Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(900.00,100.00) scale(2.00,2.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M0 100H100L0 0V100Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M75 25H25V75H75V25Z' fill='%23590d82'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(1000.00,100.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(1100.00,100.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M51 25L100 0V50L51 25Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M51 75L100 50V100L51 75Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M2 25L51 0V50L2 25Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M2 75L51 50V100L2 75Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(0.00,200.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M100 0H0V100H100V0ZM50 75C63.8071 75 75 63.8071 75 50C75 36.1929 63.8071 25 50 25C36.1929 25 25 36.1929 25 50C25 63.8071 36.1929 75 50 75Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M50 65.001C58.2843 65.001 65 58.2852 65 50.001C65 41.7167 58.2843 35.001 50 35.001C41.7157 35.001 35 41.7167 35 50.001C35 58.2852 41.7157 65.001 50 65.001Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(100.00,200.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(200.00,200.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(300.00,200.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M25.1497 74.6163C38.8364 88.3029 61.0267 88.3029 74.7133 74.6163L25.1497 25.0527C11.4631 38.7394 11.4631 60.9297 25.1497 74.6163Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M74.3829 25.3851C60.6963 11.6985 38.5059 11.6985 24.8193 25.3851L74.3829 74.9486C88.0695 61.262 88.0695 39.0716 74.3829 25.3851Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(400.00,200.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(500.00,200.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M30 44.999C38.2843 44.999 45 38.2833 45 29.999C45 21.7148 38.2843 14.999 30 14.999C21.7157 14.999 15 21.7148 15 29.999C15 38.2833 21.7157 44.999 30 44.999Z' fill='%23590d82'%3E%3C/path%3E %3Cpath opacity='0.5' d='M30 85.001C38.2843 85.001 45 78.2852 45 70.001C45 61.7167 38.2843 55.001 30 55.001C21.7157 55.001 15 61.7167 15 70.001C15 78.2852 21.7157 85.001 30 85.001Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M70 44.999C78.2843 44.999 85 38.2833 85 29.999C85 21.7148 78.2843 14.999 70 14.999C61.7157 14.999 55 21.7148 55 29.999C55 38.2833 61.7157 44.999 70 44.999Z' fill='%23590d82'%3E%3C/path%3E %3Cpath d='M70 85.001C78.2843 85.001 85 78.2852 85 70.001C85 61.7167 78.2843 55.001 70 55.001C61.7157 55.001 55 61.7167 55 70.001C55 78.2852 61.7157 85.001 70 85.001Z' fill='%23590d82'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(600.00,200.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(700.00,200.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(800.00,200.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M25.1497 74.6163C38.8364 88.3029 61.0267 88.3029 74.7133 74.6163L25.1497 25.0527C11.4631 38.7394 11.4631 60.9297 25.1497 74.6163Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M74.3829 25.3851C60.6963 11.6985 38.5059 11.6985 24.8193 25.3851L74.3829 74.9486C88.0695 61.262 88.0695 39.0716 74.3829 25.3851Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(900.00,200.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(1000.00,200.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(1100.00,200.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M51 25L100 0V50L51 25Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M51 75L100 50V100L51 75Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M2 25L51 0V50L2 25Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M2 75L51 50V100L2 75Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(0.00,300.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(100.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M0 100H100L0 0V100Z' fill='%23590d82'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(200.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M50 0H0V50H50V0Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath opacity='0.2' d='M50 0H100V50H50V0Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M100 50H50V100H100V50Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath opacity='0.2' d='M0 50H50V100H0V50Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(300.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M30 44.999C38.2843 44.999 45 38.2833 45 29.999C45 21.7148 38.2843 14.999 30 14.999C21.7157 14.999 15 21.7148 15 29.999C15 38.2833 21.7157 44.999 30 44.999Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath opacity='0.5' d='M30 85.001C38.2843 85.001 45 78.2852 45 70.001C45 61.7167 38.2843 55.001 30 55.001C21.7157 55.001 15 61.7167 15 70.001C15 78.2852 21.7157 85.001 30 85.001Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M70 44.999C78.2843 44.999 85 38.2833 85 29.999C85 21.7148 78.2843 14.999 70 14.999C61.7157 14.999 55 21.7148 55 29.999C55 38.2833 61.7157 44.999 70 44.999Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M70 85.001C78.2843 85.001 85 78.2852 85 70.001C85 61.7167 78.2843 55.001 70 55.001C61.7157 55.001 55 61.7167 55 70.001C55 78.2852 61.7157 85.001 70 85.001Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(400.00,300.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(500.00,300.00)' %3E %3Crect width='100' height='100' fill='none' /%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(600.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M51 25L100 0V50L51 25Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M51 75L100 50V100L51 75Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M2 25L51 0V50L2 25Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M2 75L51 50V100L2 75Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(700.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M30 44.999C38.2843 44.999 45 38.2833 45 29.999C45 21.7148 38.2843 14.999 30 14.999C21.7157 14.999 15 21.7148 15 29.999C15 38.2833 21.7157 44.999 30 44.999Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath opacity='0.5' d='M30 85.001C38.2843 85.001 45 78.2852 45 70.001C45 61.7167 38.2843 55.001 30 55.001C21.7157 55.001 15 61.7167 15 70.001C15 78.2852 21.7157 85.001 30 85.001Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M70 44.999C78.2843 44.999 85 38.2833 85 29.999C85 21.7148 78.2843 14.999 70 14.999C61.7157 14.999 55 21.7148 55 29.999C55 38.2833 61.7157 44.999 70 44.999Z' fill='%23b61aae'%3E%3C/path%3E %3Cpath d='M70 85.001C78.2843 85.001 85 78.2852 85 70.001C85 61.7167 78.2843 55.001 70 55.001C61.7157 55.001 55 61.7167 55 70.001C55 78.2852 61.7157 85.001 70 85.001Z' fill='%23b61aae'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(800.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M25.1497 74.6163C38.8364 88.3029 61.0267 88.3029 74.7133 74.6163L25.1497 25.0527C11.4631 38.7394 11.4631 60.9297 25.1497 74.6163Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M74.3829 25.3851C60.6963 11.6985 38.5059 11.6985 24.8193 25.3851L74.3829 74.9486C88.0695 61.262 88.0695 39.0716 74.3829 25.3851Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(900.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M25.1497 74.6163C38.8364 88.3029 61.0267 88.3029 74.7133 74.6163L25.1497 25.0527C11.4631 38.7394 11.4631 60.9297 25.1497 74.6163Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M74.3829 25.3851C60.6963 11.6985 38.5059 11.6985 24.8193 25.3851L74.3829 74.9486C88.0695 61.262 88.0695 39.0716 74.3829 25.3851Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(1000.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath opacity='0.2' d='M100 0H0V100H100V0Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M30 44.999C38.2843 44.999 45 38.2833 45 29.999C45 21.7148 38.2843 14.999 30 14.999C21.7157 14.999 15 21.7148 15 29.999C15 38.2833 21.7157 44.999 30 44.999Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.5' d='M30 85.001C38.2843 85.001 45 78.2852 45 70.001C45 61.7167 38.2843 55.001 30 55.001C21.7157 55.001 15 61.7167 15 70.001C15 78.2852 21.7157 85.001 30 85.001Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M70 44.999C78.2843 44.999 85 38.2833 85 29.999C85 21.7148 78.2843 14.999 70 14.999C61.7157 14.999 55 21.7148 55 29.999C55 38.2833 61.7157 44.999 70 44.999Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath d='M70 85.001C78.2843 85.001 85 78.2852 85 70.001C85 61.7167 78.2843 55.001 70 55.001C61.7157 55.001 55 61.7167 55 70.001C55 78.2852 61.7157 85.001 70 85.001Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3Cg transformOrigin='center' transform='translate(1100.00,300.00) scale(1.00,1.00) rotate(0.00, 50, 50)' opacity='0.75'%3E %3Cpath d='M25.1497 74.6163C38.8364 88.3029 61.0267 88.3029 74.7133 74.6163L25.1497 25.0527C11.4631 38.7394 11.4631 60.9297 25.1497 74.6163Z' fill='%23f25d9c'%3E%3C/path%3E %3Cpath opacity='0.2' d='M74.3829 25.3851C60.6963 11.6985 38.5059 11.6985 24.8193 25.3851L74.3829 74.9486C88.0695 61.262 88.0695 39.0716 74.3829 25.3851Z' fill='%23f25d9c'%3E%3C/path%3E %3C/g%3E %3C/svg%3E ");
}
svg {
  position: absolute;
  width: 100%;
  height: 50px;
}

svg path {
  fill: #003;
}

.bottomSVG {
  bottom: -1px;
}

.bottomSVG-rotateX {
  transform: rotateX(180deg);
}

.topSVG {
  top: -1px;
}

.topSVG-rotateX {
  transform: rotateX(180deg);
}

.bottomSVG-tiltDownRight {
  transform: rotate(180deg);
}

.bottomSVG-tiltDownLeft {
  transform: rotateX(180deg);
}

.topSVG-tiltDownRight {
  transform: rotate(0deg);
}

.topSVG-tiltDownLeft {
  transform: rotateY(180deg);
}
