@media (max-width: 700px) {
  /* MOBILE GLOBAL STYLES */

  /* MOBILE BANNER STYLES */
  .banner {
    padding: 2vh;
    width: auto;
  }

  /* MOBILE HEADER STYLES */
  .header-nav {
    padding: 2vh 1em 0 0;
  }
  .header-nav > li {
    margin-left: 0.25em;
  }
  .header-nav > li ~ li {
    padding-left: 0.25em;
  }
  .nav-links a {
    font-size: 3.25vw;
  }

  /* MOBILE FOOTER STYLES */
  .footer-nav > li {
    margin: 0;
    padding-top: 1em;
  }

  /* MOBILE COLUMN STYLES */
  .col {
    padding: 0;
  }

  /* MOBILE REPORT PAGE STYLES */
  .page {
    width: auto;
  }
  .post-aside {
    float: none;
    margin: 0 2em 2em;
  }
  .pull-left,
  .pull-right {
    float: none;
    margin: 1em 0;
  }
  .post-content img {
    width: 100%;
  }

  /* MOBILE HERO STYLES */
  /* MOBILE SOCIAL STYLES */

  /* MOBILE MENU */
  .show-mobile-menu {
    display: block;
    float: right;
    position: relative;
    padding: 1.5em;
    margin-top: 1.5vh;
    text-transform: uppercase;
  }
  .header-nav {
    background-color: #004680;
    box-sizing: border-box;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 11vh;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    z-index: 9;
  }
  .mobile-menu-check:checked ~ .header-nav {
    max-height: 60em;
  }
  .mobile-menu-check:checked ~ .show-mobile-menu:after {
    background-color: #004680;
    color: #28bece;
    content: "[x] CLOSE";
    left: 0;
    position: absolute;
    text-align: center;
    top: 1.5em;
    width: 100%;
  }
  .header-nav li {
    display: block;
    margin-top: 1em;
  }
  .header-nav li ~ li {
    padding: 0;
  }
  .header-nav li:last-child {
    margin-bottom: 1em;
  }
  /* MOBILE HIDE DROPDOWN IN THE NAV MENU */
  .header-nav .dropdown:hover .drop-menu,
  .header-nav .drop-trigger:after {
    display: none;
  }

  .footer .dropdown:hover .drop-menu,
  .footer .drop-trigger:after {
    display: none;
  }
  .footer .drop-trigger {
    padding-right: 0;
  }

  /* MOBILE LANDING PAGE STYLES */
  .home-callout {
    flex-direction: column;
  }
  .callout-copy {
    flex: 1;
  }
  .bio-box {
    float: none;
    font-size: 1.3rem;
    width: auto;
  }

  /* MOBILE BIO STYLES */
  /* MOBILE GALLERY STYLES */
  .gallery {
    flex-direction: column;
  }
  .gallery .col {
    padding: 1em;
  }
  .gallery .gallery-thumbs {
    flex: 1;
    height: auto;
    white-space: nowrap;
    width: 100vw;
  }
  .gallery-thumbs > div {
    display: inline-block;
  }
  .gallery-thumbs img {
    height: 7vh;
    margin: 0 1em 0 0;
    width: auto;
  }
  .gallery .gallery-info {
    flex: 1;
  }

  /* MOBILE BLOG INDEX STYLES */
  .col-two {
  flex-direction: column;
  }
  .col-two .col-aside {
  flex: 1;
  text-align: center;
  margin-bottom: 1em;
  }
  .blog-posts {
    margin-top: 1em;
  }
}
