---
layout: lander
---

<div class="full-hero hero-home">
  <div class="hero-content">
    <h1>Imagine a future</h1>
    <h2>where the power of decision is democratised
      <br>where everyone has the freedom to choose
      <br>vendors decide how much they want to make
      <br>customers decide who you want to support
    </h2>
  </div>
</div>

<main class="home-about">
  <div class="about-title"><h1>About</h1></div>
  <div class="about-copy">
    <p>
      How this came about. Why we built this.
      Some strong points:
    </p>

    <ul>
      <li>⚔️ &nbsp; Arm the rebels. Empower micro-businesses.</li>
      <li>💖 &nbsp; Get to know the hearts under the hood.</li>
      <li>⚖️ &nbsp; Raise awareness of unfair dynamics.</li>
      <li>💰 &nbsp; Everyone saves money.</li>
    </ul>

    <p>
      <br>&nbsp;
      <br>⭐️ &nbsp; Try this week's hack at home:
      {% for post in site.posts limit:1 %}
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% assign words = post.content | number_of_words %}
        <span style="font-size: 0.65rem; color: #00b490">
        {% if words < 360 %}
          1 MIN READ
        {% else %}
          {{ words | divided_by:180 }} MINS READ
        {% endif %}
      {% endfor %}
      </span>
    </p>
  </div>
</main>

<!-- footer form -->
<!--script src="//web.webformscr.com/apps/fc3/build/loader.js" sp-form-id="a129608a47f7ac6e38af4cde936bb48d7392ef1760fc470ea393571e1a504f95"></script-->
