{% if page.title  %}
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}">
{% else %}
  <title>100 Ways To Make Money Online</title>
  <meta property="og:title" content="100 Ways To Make Money Online">
{% endif %}

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
{% else %}
  <meta property="og:description" content="For entrepreneurs, makers, life hackers, developers, solopreneurs, and indie hackers looking for quick inspiration and idea generation. The Ultimate Resource / Site / Guide / Handbook for Infinite Ideas and Inspiration. The Megalist of Megalists. The No.1 site for online business ideas, hustle inspiration, and infinite ideas for a better life. 100 ways to live the life you want. 100 ways to hack life and live your dreams.">
{% endif %}

<meta property="og:type" content="website">
<meta property="og:url" content="https://100ways.to/">
<meta property="og:site_name" content="100 Ways To Make Money Online">

<link rel="icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/icomoon/style.css">
<link rel="stylesheet" href="/css/main.css">

{% seo %}
