{% if page.title  %}
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}">
{% else %}
  <title>Jam Pony Delivery</title>
  <meta property="og:title" content="Jam Pony Delivery - Serving Singapore">
{% endif %}

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
{% else %}
  <meta property="og:description" content="Delivery service for micro business and small business, where you get to keep all your profits. For rebels, by rebels. Get to know real stories of real people behind your favourite food and products.">
{% endif %}

<meta property="og:type" content="website">
<meta property="og:url" content="https://jampony.delivery/">
<meta property="og:site_name" content="Jam Pony Delivery - Serving Singapore">

<link rel="icon" href="/favicon.png">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/icomoon/style.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/light.css">
<link rel="stylesheet" href="/css/mobile_ex.css">

{% seo %}
