{% if page.title %}
<title>{{ page.title }} | Jam Pony Delivery</title>
<meta property="og:title" content="{{ page.title }}" />
{% else %}
<title>
  Jam Pony Delivery - We Help Small Businesses Keep 100% of Their Revenue
</title>
<meta
  property="og:title"
  content="Jam Pony Delivery - We Help Small Businesses Keep 100% of Their Revenue"
/>
{% endif %}

<!-- 🌌 -->
{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta
  property="og:description"
  content="The simplest order system that integrates product menu uploads, direct customer communication, delivery & payment gateways with 0% commissions. We help small businesses keep 100% of their profits. For rebels, by rebels. Get to know real stories of real people behind your favourite food and products."
/>
{% endif %}

<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.jampony.delivery/" />
<meta property="og:site_name" content="Jam Pony Delivery - Serving Singapore" />

<link rel="icon" href="/favicon.png" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/icomoon-jpd-2021Mar/style.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/mobile.css" />

{% seo %}
