---
layout: classic
---
<div class="page-hero" style="background-image:url({{ page.hero }})">
  <div class="page-title">
    <h1>{{ page.title }}</h1>
    <h2>{{ page.subtitle }}</h2>
  </div>

  <div class="page-hero-bottom">
    <div class="post-filters">
      {% assign region = site.data.categories[page.region] %}
      <a href="{{ base.url }}{{ region.path }}" alt="{{ region.name }}" title="{{ region.name }}"><span class="post-filter-icon">{{ region.icon }}</span></a>

      {% assign business = site.data.categories[page.business] %}
      <a href="{{ base.url }}{{ business.path }}" alt="{{ business.name }}" title="{{ business.name }}"><span class="post-filter-icon">{{ business.icon }}</span></a>

      {% assign food = site.data.categories[page.food] %}
      {% if food %}  
        <a href="{{ base.url }}{{ food.path }}" alt="{{ food.name }}" title="{{ food.name }}"><span class="post-filter-icon">{{ food.icon }}</span></a>
      {% endif %}
    </div>

    <div class="order-directly">
      <a href="{{ page.order }}"><button class="post-btn-order">Order directly!</button></a>
    </div>

    <div class="post-read-time">
      {% assign words = content | number_of_words %}
      {% if words < 360 %}
        1 min read
      {% else %}
        {{ words | divided_by:180 }} mins read
      {% endif %}
    </div>
  </div>
</div>

<div class="post">

  <article class="page">
    <header class="post-header">
      <div class="post-byline">
          <span class="post-update">by</span> <span class="post-author"><a href="{{ page.authorTwitter }}" target="_blank"> {{ page.author }} <img src="{{ page.authorPic }}"></a>
          </span>
          <span class="post-update">
          updated <time datetime="page.date">{{ page.date | date_to_long_string }}</time>
          </span>
      </div>
    </header>

    <aside class="post-aside-wrap">
      {% include aside.html %}
    </aside>

    <main class="post-content">
      {{ content }}
    </main>

    <footer class="post-footer">
      {{ page.postFooter }}
    </footer>
  </article>
</div>
